.main {
    position: absolute;
    height: 650px;
    width: 450px;
}

.left{
    position: relative;
    height: 97%;
    width: 20%;
    background-color: black;
    top: 0%;
    left: 0%;
    font-size: xxx-large;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.right {
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: chocolate;
    top: 0%;
    right: 0;
}

.title {
    font-size: large;
    color: aqua;
}

h2 {
    position: relative;
    text-align: center;
}

.output-shown {
    border: 1px;
    text-align: center;
    margin-left: 22px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

#clipboard{
    margin-left: 5px;
    font-size: 20px;
}

#message{
    display: block;
    position: absolute;
    margin-left: 110px;
    margin-top: 10px;
    
}

.l-input {
    border: 1px;
    text-align: center;
    margin-left: 120px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
}

.buttons {
    margin-top: 50px;
    margin-left: 22px;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    width: 300px;
    height: 35px;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.options input[type="checkbox"] {
    margin-right: 10px;
}

.f-button {
    text-align: center;
    margin-top: 35px;
    margin-left: 85px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    color: black;
    background-color: aqua;
    cursor: pointer;
}

.f-button:hover {
    background-color: #00ced1;
}